

.uk-panel-box {
  border-radius: 4px;
  margin:5px;
}
p {
  margin-top: 15px;
}
.uk-comment-header{
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background: #fafafa;
}
